* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: monospace;
    font-size: 16px;

    background: #f8f8f8;
}

// variables

$primaryColor: #203968;
$whiteColor: #ffffff;
$hoverBg: #0b2452;

// generall classes
span.brand {
    text-transform: uppercase;
    font-weight: 700;
}
.btn {
    border: 2px solid transparent;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 1.5rem;
    padding: 20px 50px;
}
.btnPrimary {
    animation: fillIn 3s ease-in;
    color: $whiteColor;
    background-color: $primaryColor;
    &:hover {
        background-color: $hoverBg;
    }
}
#heading {
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: uppercase;
    color: $primaryColor;
}
#tag {
    font-size: 1.1rem;
    line-height: 2rem;
    color: $primaryColor;
    text-transform: capitalize;
}

// Header styles

header {
    height: 95vh;
    text-transform: uppercase;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $whiteColor;
    background-color: lightcyan;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url('../img/headerbg.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    & span#logo {
        padding: 5px 15px;
        margin-bottom: 10rem;
        font-size: 5rem;
        font-weight: 700;
        letter-spacing: 10px;
        mix-blend-mode: lighten;
        color: black;
        background-color: #ffffff;
    }
    & h1 {
        width: 50vw;
        text-align: center;
        font-weight: 500;
        animation: fillIn 1.3s ease-in;
    }
}

//Brand Message section
section#brandMessage {
    color: $primaryColor;
    margin: 2rem auto;
    padding: 2rem 8rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    & div {
        padding: 2rem;
    }
    & #logo {
        font-size: 2rem;
    }
}

// Section Brand Image
section#brandImg {
    margin: 3rem auto;
    width: 80%;
    height: 100%;
    & img {
        width: 100%;
        height: 85vh;
    }
}

// Section Products &&  Section About

section#products {
    display: grid;
    grid-template-areas:
        'a b'
        'c d'
        'c e';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 80vw;
    margin: 2rem auto;
    margin-bottom: 0;

    & div#twoRows {
        grid-area: c;
    }
    & div {
        font-size: 2rem;

        &:nth-of-type(3) {
            background-color: $hoverBg;
            & p {
                color: #ffffff;
            }
            & h1 {
                color: #ffffff;
            }
            & a.btnPrimary {
                color: $primaryColor;
                background-color: $whiteColor;
                &:hover {
                    background-color: #d5d7d8;
                }
            }
        }
        &:nth-child(odd) {
            padding: 2.5rem 4rem;
            & * {
                margin: 2rem 0;
            }
        }
        & img {
            width: 100%;
            display: block;
            margin: 0;
        }
        & a {
            display: block;
            width: 60%;
            margin: 2rem 0;
            text-transform: uppercase;
            padding: 1.5rem 3rem;
            text-align: center;
        }
    }
}

// SECTION CHECKOUT
section#checkout {
    height: 80vh;
    background-image: linear-gradient(#0000006b, #0000006b), url(../img/chekout.jpg);
    background-size: cover;
    background-position: right top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    & div {
        padding-top: 15%;
        text-align: center;
        & h1 {
            color: #ffffff;
            text-transform: uppercase;
            font-size: 3rem;
            font-weight: 700;
        }
        & a.btnPrimary {
            text-transform: uppercase;
            font-weight: 700;
            display: inline-block;
        }
    }
}

// Animation
@keyframes fillIn {
    10% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
