* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: monospace;
  font-size: 16px;
  background: #f8f8f8;
}

span.brand {
  text-transform: uppercase;
  font-weight: 700;
}

.btn {
  border: 2px solid transparent;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 1.5rem;
  padding: 20px 50px;
}

.btnPrimary {
  -webkit-animation: fillIn 3s ease-in;
          animation: fillIn 3s ease-in;
  color: #ffffff;
  background-color: #203968;
}

.btnPrimary:hover {
  background-color: #0b2452;
}

#heading {
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #203968;
}

#tag {
  font-size: 1.1rem;
  line-height: 2rem;
  color: #203968;
  text-transform: capitalize;
}

header {
  height: 95vh;
  text-transform: uppercase;
  font-size: x-large;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  background-color: lightcyan;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../img/headerbg.jpg");
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/headerbg.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

header span#logo {
  padding: 5px 15px;
  margin-bottom: 10rem;
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 10px;
  mix-blend-mode: lighten;
  color: black;
  background-color: #ffffff;
}

header h1 {
  width: 50vw;
  text-align: center;
  font-weight: 500;
  -webkit-animation: fillIn 1.3s ease-in;
          animation: fillIn 1.3s ease-in;
}

section#brandMessage {
  color: #203968;
  margin: 2rem auto;
  padding: 2rem 8rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

section#brandMessage div {
  padding: 2rem;
}

section#brandMessage #logo {
  font-size: 2rem;
}

section#brandImg {
  margin: 3rem auto;
  width: 80%;
  height: 100%;
}

section#brandImg img {
  width: 100%;
  height: 85vh;
}

section#products {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'a b' 'c d' 'c e';
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  width: 80vw;
  margin: 2rem auto;
  margin-bottom: 0;
}

section#products div#twoRows {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: c;
}

section#products div {
  font-size: 2rem;
}

section#products div:nth-of-type(3) {
  background-color: #0b2452;
}

section#products div:nth-of-type(3) p {
  color: #ffffff;
}

section#products div:nth-of-type(3) h1 {
  color: #ffffff;
}

section#products div:nth-of-type(3) a.btnPrimary {
  color: #203968;
  background-color: #ffffff;
}

section#products div:nth-of-type(3) a.btnPrimary:hover {
  background-color: #d5d7d8;
}

section#products div:nth-child(odd) {
  padding: 2.5rem 4rem;
}

section#products div:nth-child(odd) * {
  margin: 2rem 0;
}

section#products div img {
  width: 100%;
  display: block;
  margin: 0;
}

section#products div a {
  display: block;
  width: 60%;
  margin: 2rem 0;
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  text-align: center;
}

section#checkout {
  height: 80vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0000006b), to(#0000006b)), url(../img/chekout.jpg);
  background-image: linear-gradient(#0000006b, #0000006b), url(../img/chekout.jpg);
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

section#checkout div {
  padding-top: 15%;
  text-align: center;
}

section#checkout div h1 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
}

section#checkout div a.btnPrimary {
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
}

@-webkit-keyframes fillIn {
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fillIn {
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=styles.css.map */